.bar{
    background-color:rgb(219, 219, 217);
    display: grid;
    row-gap: 0px;
    grid-template-columns: auto 1fr;
    height: 705px;
    box-sizing: border-box;
    
}
.sidebar{
    background-color:white;
    grid-row:1/3 ;
    width: 70px;
    height:694px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: rgb(123, 130, 130);
}
.mainbar{
    
    column-gap: 0px;
    height: 116px;

}
.loginDetails{
    background-color: white;
    padding: 20px;
    display: flex;
    margin: 20px;
    border-radius: 12px;
    height: 22px;
}
.screens{
    
    margin: -21px 7px;
    
    border-radius: 12px;
    position: relative;
}
.screens Button{
    
    background-color: rgb(115, 79, 223);
    color: white;
    margin: 19px;
    width: 320px;
}

.centerbar{
    background-color: white;
    margin: -244px 20px;
    border-radius: 20px;
    height: 400px;
    display: flex;
    position: relative;
}
.details{
   margin: 5px; 
   width:950px;
   
   border-radius: 2px;
}

.alignDetials{
    display: flex;
    margin: -19px 12px;
    color: rgb(115, 79, 223);
   
}
.alignDetials p{
    padding: 5px;
}
.name{
    margin-top: 2px;
    background-color: rgb(115, 79, 223) ;
    padding:20px;
    border-radius: 20px;
    color: white;
    font-size: 28px;
}
.dynamic{
    margin-top: -28px;
    display:flex;
    margin-left: auto;
}
.dynamicIcon{
    margin-top: 16px;
    padding:11px;
}

.footerbar{
    background-color: white;
    width: 95%;
    margin-top: -40px;
    height: 26px;
    text-align: center;
    margin-left: auto;
    border-style: ridge;
}

/* when hover on side bar */

.sidebar:hover  .hoveronsidebar{
   display: block;
}
.hoveronsidebar{
    display: none;
}

.sidebarcontent img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
}

.sidebarcontent{
    position: relative;
    
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 280px;
    margin-left: 180px;
    height: 697px;
    overflow-y: auto;
   margin-top: -480px;
   z-index: 1;
   overflow-y: auto;
}

.iconstyling{
    margin: -15px 37px;
    color:rgb(123, 130, 130);
}
.sidebarcontent a{
    text-decoration: none;
    color:rgb(123, 130, 130);
}

/* for href */
.index p:hover{
    background-color:rgb(218, 218, 206) ;
    padding: 0px 2px;
}


/* end of hover functionality */